@media (max-width: 950px) {
    #banderole img {
        display: none;
    }

    #banderole p {
        padding-right: 0!important;
    }

    h3 {
        padding-right: 0!important;
    }

    #banderole {
        padding: 20px 4rem 20px 4rem!important;
    }
}

@media (max-width: 767px) {
    body {
        padding: 0!important;
    }

    #banderole {
        padding: 20px 1rem 20px 1rem!important;
    }

    td {
        min-width: 60px!important;
    }

    .vr {
        display: none;
    }

    #hr {
        color: #395061!important;
        height: 6px!important;
        border-radius: 10px;
        margin-top: 70px;
    }

    #skills .col-sm-2 {
        width: 25%;
    }

    #skills .col-sm-2 {
        width: 33%!important;
    }

    #summary {
        width: 70%!important;
        display: none;
        z-index: 1;
    }


    .contents {
        margin-left: 0;
    }

    #burgerMenu {
        display: flex;
    }

    h2 {
        font-size: 25.5px;
    }

    h1 {
        font-size: 31.5px;
    }

    .titleInfo {
        margin-left: 50px;
    }
}

@media (min-width: 767px) {
    #experiencesDiv {
        display: flex;
        justify-content: space-around;
    }

    #waldata, #sereneo {
        width: 50%;
    }

    #hr {
        display: none;
    }
}

#experiences {
    margin: 0!important;
}

#projectsDiv {
    padding-top: 70px;
}

#hobbies {
    padding-top: 70px;
}

.hobbie img {
    width: 50%!important;
    margin-bottom: 20px;
}

.hobbie {
    display: flex;
    justify-content: center;
}

header {
    background-color: #0b4261;
    display: flex;
    justify-content: end;
    margin-bottom: 70px;
}

footer {
    background-color: #0b4261;
    margin-top: 70px;
    padding: 20px 0 20px 0;
}

footer p, footer a {
    color: white!important;
}

footer svg {
    width: 20px;
    margin-right: 20px;
}

footer .bi {
    fill: white!important;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
}

nav {
    padding: 10px 20px 10px 20px!important;
}

header ul li {
    padding: 5px 15px 5px 15px;
}

h1 {
    color: #395061;
    margin-bottom: 50px;
}

#band-profil {
    display: flex;
    align-items: center;
    color: #395061;
    width: 100%;
}

#name hr {
    color: #47a2ee;
    height: 6px;
    border-radius: 10px;
}

#banderole {
    margin-top: 20px;
    padding: 20px 25% 20px 25%;
    width: 100%;
    height: auto;
    vertical-align: middle;
}

#banderole img {
    width: 30%;
    height: fit-content;
}

h3 {
    color: white!important;
    text-align: center;
    padding-right: 10%;
}

#banderole p {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    padding-right: 10%;
}

h4 {
    color: #395061;
    font-size: 24.5px;
    text-align: center;
}

h5 {
    color: #395061;
    font-weight: bold;
}

#exp {
    padding-top: 70px;
}

#sereneo img {
    width: 300px!important;
    margin-top: 30px;
}

table {
    width: fit-content;
}

td {
    width: fit-content;
}

.vr {
    color: #395061;
    width: 3px;
    border-radius: 10px;
    margin: 0px 20px 0px 20px;
}

#skillsDiv {
    padding-top: 70px;
}

#skills label {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 0 10px 0;
}

#skills label:hover {
    font-weight: bold!important;
    font-size: 22px!important;
    cursor: default;
    /*color: #47a2ee;*/
}

#skills .col-sm-2 {
    width: 19.66666667%;
}

#skills .col-sm-3 {
    width: 225px;
}

.projects {
    width: 100%;
    padding-left: 25px;
}

#table {
    display: flex;
    justify-content: center;
}

.projects {
    margin: 1px;
    height: fit-content;
}

.projects div {
    height: 10em;
    padding: 0;
}

.projects a {
    font-weight: bold;
    color: white;
    font-size: x-large;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    text-decoration: none;
}

.projects a:hover {
    font-size: xx-large;
    background-size: 150%;
}

#summary {
    background-color: #0b4261;
    padding: 20px;
    width: 20%;
    height: 100%;
    position: fixed;
}

#summary button {
    text-decoration: none;
    border: none;
    background-color: #0b4261;
    color: white;
    text-align: start;
}

#summary button:hover{
    font-weight: bold;
}

.contents img {
    width: 100%;
}

.subtitle {
    margin-bottom: 20px;
    align-items: end;
}

.subtitle img {
    width: 60px;
    margin-right: 20px;
}

h2 {
    color: #395061;
}

#cross {
    text-align: end!important;
}

.animationSummary {
    animation-duration: 3s;
    animation-name: slideoutSummary;
}

.animationContents {
    display: flex!important;
    position: relative;
    animation-duration: 3.5s;
    animation-name: slideoutContents;
}

.animationInSummary {
    animation-duration: 3s;
    animation-name: slideinSummary;
}

.animationInContents {
    display: flex!important;
    position: relative;
    animation-duration: 3.5s;
    animation-name: slideinContents;
}

.displayNone {
    display: none!important;
}

.marginLeft {
    margin-left: 0!important;
}

.contents {
    margin-left: 25%;
    width: 100%;
}

#burgerMenu {
    display: none;
    background-color: #0b4261;
    border: none;
    width: fit-content;
    color: white;
    padding: 20px;
    position: fixed;
}

#summary h5 {
    color: #afb9d2 !important;
}

li {
    color: white;
}

@keyframes slideoutSummary {
  0% {
    left: 0px;
  }

  100% {
    left: -360px;
  }
}

@keyframes slideinSummary {
  0% {
    left: -360px;
  }

  100% {
    left: 0px;
  }
}

@keyframes slideoutContents {
  0% {
      margin-left: 25%;
  }

  100% {
      margin-left: 0;
  }
}

@keyframes slideinContents {
  0% {
      margin-left: 0;
  }

  100% {
      margin-left: 25%;
  }
}




